<div class="about">
	<div class="container about__container">
		<div class="section-head">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-1">О компании</h2>
			<a data-da=".about__container,767,2" href="#" target="_blank" class="section-head__btn about__head-btn">Подробнее</a>
		</div>
		<p class="about__content">
			Наша компания занимается разработкой и производством инновационного препарата, направленного
			на повышение эффективности сельского хозяйства и обеспечение экологически чистого и
			безопасного роста растений. <br />
			<br />
			Наш продукт основан на солях гуминовых и фульвовых кислот, обладающих рядом ценных свойств, а
			именно: ростостимулирующих, иммуномодулирующих, адаптогенных и протекторных.
		</p>
		<img src="img/decor/entrance.webp" alt="entrance" class="about__img" />
		<div class="about__catalog">
			<div class="about__catalog-wrapper">
				<h3 class="title title-2">Каталог продукции</h3>
				<div class="about__catalog-logo">
					<svg class="about__catalog-icon">
						<use xlink:href="img/icons/icons.svg#icon-logo"></use>
					</svg>
					<span class="title title-2 about__catalog-logo-title">organic energy</span>
				</div>
				<a href="#" download="#" class="btn-download about__catalog-btn">
					<div class="btn-download__wrapper">
						<svg class="btn-download__file">
							<use xlink:href="img/icons/icons.svg#icon-file"></use>
						</svg>
						<span class="title">Скачать pdf 1.4 mb</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>