<section class="advantages">
	<div class="container">
		<span class="advantages__word advantages__word--first">Преиму</span>
		<span class="advantages__word advantages__word--last">щества</span>
		<span class="advantages__circle advantages__circle--min"></span>
		<span class="advantages__circle advantages__circle--right"></span>
		<div class="advantages__body">
			<div class="advantages__head">
				<img src="img/logos/logo-red.svg" alt="Logo" class="advantages__logo">
				<p class="advantages__content">это инновационное решение для современного сельского хозяйства, направленное на достижение устойчивых и высоких результатов</p>
			</div>
			<div class="advantages__wrapper">
				<img src="img/decor/canister-dir.webp" alt="canister" class="advantages__img">
				<ul class="list advantages__list">
					<li class="advantages__item">
						<span class="advantages__number">№1</span>
						<div class="advantages__item-info">
							<h5 class="title advantages__item-title">Ростостимулирующее действие</h5>
							<p class="advantages__item-content">Стимулирует прорастание семян и способствует увеличению биомассы корней.</p>
						</div>
					</li>
					<li class="advantages__item">
						<span class="advantages__number">№2</span>
						<div class="advantages__item-info">
							<h5 class="title advantages__item-title">Иммуномодулирующие свойства</h5>
							<p class="advantages__item-content">Стимулирует прорастание семян и способствует увеличению биомассы корней.</p>
						</div>
					</li>
					<li class="advantages__item">
						<span class="advantages__number">№3</span>
						<div class="advantages__item-info">
							<h5 class="title advantages__item-title">Адаптогенные характеристики</h5>
							<p class="advantages__item-content">Стимулирует прорастание семян и способствует увеличению биомассы корней.</p>
						</div>
					</li>
					<li class="advantages__item">
						<span class="advantages__number">№4</span>
						<div class="advantages__item-info">
							<h5 class="title advantages__item-title">Протекторные свойства</h5>
							<p class="advantages__item-content">Стимулирует прорастание семян и способствует увеличению биомассы корней.</p>
						</div>
					</li>
					<li class="advantages__item">
						<span class="advantages__number">№5</span>
						<div class="advantages__item-info">
							<h5 class="title advantages__item-title">Экологичность продукции</h5>
							<p class="advantages__item-content">Стимулирует прорастание семян и способствует увеличению биомассы корней.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>