<section class="advantages-products">
	<div class="container">
		<div class="section-head">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-1">Приемущества продукции</h2>
		</div>
		<p class="advantages-products__content">
			Наш продукт основан на солях гуминовых и фульвовых кислот, обладающих рядом ценных свойств, а
			именно
		</p>
		<ul class="list advantages-products__list">
			<li class="advantages-products__item">
				<img src="img/logos/plant-up.svg" alt="plant" class="advantages-products__icon" />
				<div class="advantages-products__info">
					<h5 class="advantages-products__title">Ростостимулирующая</h5>
					<p class="advantages-products__item-content">
						У растений заключается в активации процессов роста и увеличении урожайности
					</p>
				</div>
			</li>
			<li class="advantages-products__item">
				<img src="img/logos/plant-protection.svg" alt="plant" class="advantages-products__icon" />
				<div class="advantages-products__info">
					<h5 class="advantages-products__title">Иммуномодулирующая</h5>
					<p class="advantages-products__item-content">
						У растений заключается в поддержании работы иммунной системы организма
					</p>
				</div>
			</li>
			<li class="advantages-products__item">
				<img src="img/logos/plant-strong.svg" alt="plant" class="advantages-products__icon" />
				<div class="advantages-products__info">
					<h5 class="advantages-products__title">Адаптогенная</h5>
					<p class="advantages-products__item-content">У растений заключается к приспособлении изменяющимся условиям окружающей среды</p>
				</div>
			</li>
			<li class="advantages-products__item">
				<img src="img/logos/plant-protector.svg" alt="plant" class="advantages-products__icon" />
				<div class="advantages-products__info">
					<h5 class="advantages-products__title">Протекторная</h5>
					<p class="advantages-products__item-content">У растений заключается в защите почвы от негативных воздействия и загрязнения</p>
				</div>
			</li>
		</ul>
	</div>
</section>