<section class="agronomy">
	<div class="container">
		<div class="section-head">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-1">Агрономическая эффективность</h2>
		</div>
		<p class="agronomy__content">
			Эффективность органоминеральных удобрений изучалась в ходе агрохимических испытаний
			в Географической сети опытов с удобрениями и другими агрохимическими средствами, а также
			в ходе испытаний, проведённых агрохимической службой Минсельхоза России, в которых установлено
			позитивное влияние этих удобрений на урожайность сельскохозяйственных культур и качество
			выращенной продукции.
		</p>
		<div class="swiper agronomy__slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="img/decor/map.svg" alt="map" class="agronomy__map">
				</div>
				<div class="swiper-slide">
					<img src="img/decor/map.svg" alt="map" class="agronomy__map">
				</div>
				<div class="swiper-slide">
					<img src="img/decor/map.svg" alt="map" class="agronomy__map">
				</div>
				<div class="swiper-slide">
					<img src="img/decor/map.svg" alt="map" class="agronomy__map">
				</div>
			</div>
		</div>
		<div class="slider-nav">
			<button class="btn slider-btn slider-btn--prev agronomy__btn-slider">
				<svg class="slider-btn__icon">
					<use xlink:href='img/icons/icons.svg#icon-arrow-line'></use>
				</svg>
			</button>
			<div class="slider-nav__pagination agronomy__slider-pagination"></div>
			<button class="btn slider-btn slider-btn--next agronomy__btn-slider">
				<svg class="slider-btn__icon">
					<use xlink:href='img/icons/icons.svg#icon-arrow-line'></use>
				</svg>
			</button>
		</div>
		<ul class="list agronomy__list">
			<li class="agronomy__list-item">
				<img src="img/logos/map.svg" alt="map" class="agronomy__list-icon">
				<span>Краснодарский край</span>
			</li>
			<li class="agronomy__list-item">
				<img src="img/logos/canister-circle.svg" alt="map" class="agronomy__list-icon">
				<span>Альфа марки Финиш</span>
			</li>
			<li class="agronomy__list-item">
				<img src="img/logos/grape.svg" alt="map" class="agronomy__list-icon">
				<span>Виноград сорта Супер-Экстра (Цитрин)</span>
			</li>
		</ul>
		<p data-more="agronomy" class="more-detail agronomy__list-content">
			Оказало положительное влияние на продуктивность растений. Количество нормальных ягод в кисти составляло 88% (контроль 77%).  Средняя масса ягоды превышала показатель контроля на 8,7%, количество ягод в грозди – на 12,1-13,6% и средняя массы грозди на 21,7-23,2% в сравнении с контролем. Урожайность винограда повысилась на 3,3-3,7 т/га (21,7-24,3%), при урожайности в контроле 15,2 т/га. Содержание витамина С и сахаристость сока увеличились в сравнении с контролем на 3,0-3,6 мг/100 г и 3,3-3,7 г/100 см3, соответственно. Максимальная прибавка урожая лучшего качества была получена при внесении агрохимиката в дозе 1,5 л/га.
		</p>
		<button data-more="agronomy" class="btn more-detail-btn agronomy__btn-more">Подробнее</button>
	</div>
</section>