<section class="apply-rec">
	<div class="container tab-parent">
		<div class="section-head">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-1 start">Рекомендации по применению</h2>
		</div>
		<div class="tab-nav apply-rec__tab-nav">
			<button data-tab="agricultural" class="btn btn-tab title tab-nav__btn active">
				сельскохозяйственное производство
			</button>
			<button data-tab="personal" class="btn btn-tab title tab-nav__btn">
				личное подсобное хозяйство
			</button>
			<div class="tab-nav__btn-type">
				<span>Выберите тип подкормки</span>
				<svg class="tab-nav__type-icon">
					<use xlink:href="img/icons/icons.svg#icon-click"></use>
				</svg>
			</div>
		</div>
		<div data-tab="agricultural" class="tab active apply-rec__table">
			<div class="apply-rec__table-head">
				<span class="apply-rec__table-num">№</span>
				<span class="apply-rec__table-dose">Доза</span>
				<span class="apply-rec__table-expenditure">Расход рабочего раствора</span>
				<span class="apply-rec__table-culture">Культура, время,особенности применения</span>
			</div>
			<div class="apply-rec__table-body">
				<div class="apply-rec__table-row">
					<span class="apply-rec__table-num">1</span>
					<span class="apply-rec__table-dose apply-rec__table-dose--value">0,8-1 л/га</span>
					<span class="apply-rec__table-expenditure">150-250 л/га</span>
					<p class="apply-rec__table-culture apply-rec__table-culture--value">
						Овощные культуры - некорневая подкормка растений в период формирования и роста плодов
						<span>1-3 раза с интервалом 10-12 дней</span>
					</p>
				</div>
				<div class="apply-rec__table-row">
					<span class="apply-rec__table-num">2</span>
					<span class="apply-rec__table-dose apply-rec__table-dose--value">0,8-1 л/га</span>
					<span class="apply-rec__table-expenditure">150-250 л/га</span>
					<p class="apply-rec__table-culture apply-rec__table-culture--value">
						Овощные культуры - некорневая подкормка растений в период формирования и роста плодов
						<span>1-3 раза с интервалом 10-12 дней</span>
					</p>
				</div>
				<div class="apply-rec__table-row">
					<span class="apply-rec__table-num">3</span>
					<span class="apply-rec__table-dose apply-rec__table-dose--value">0,8-1 л/га</span>
					<span class="apply-rec__table-expenditure">в зависимости от системы и нормы полива</span>
					<p class="apply-rec__table-culture apply-rec__table-culture--value">
						Овощные культуры - некорневая подкормка растений в период формирования и роста плодов
						<span>1-3 раза с интервалом 10-12 дней</span>
					</p>
				</div>
				<div class="apply-rec__table-row">
					<span class="apply-rec__table-num">4</span>
					<span class="apply-rec__table-dose apply-rec__table-dose--value">0,8-1 л/га</span>
					<span class="apply-rec__table-expenditure">150-250 л/га</span>
					<p class="apply-rec__table-culture apply-rec__table-culture--value">
						Овощные культуры - некорневая подкормка растений в период формирования и роста плодов
						<span>1-3 раза с интервалом 10-12 дней</span>
					</p>
				</div>
			</div>
		</div>
		<div data-tab="personal" class="tab apply-rec__table">
			<div class="apply-rec__table-head">
				<span class="apply-rec__table-num">№</span>
				<span class="apply-rec__table-dose">Доза</span>
				<span class="apply-rec__table-expenditure">Расход рабочего раствора</span>
				<span class="apply-rec__table-culture">Культура, время,особенности применения</span>
			</div>
			<div class="apply-rec__table-body">
				<div class="apply-rec__table-row">
					<span class="apply-rec__table-num">3</span>
					<span class="apply-rec__table-dose apply-rec__table-dose--value">0,8-1 л/га</span>
					<span class="apply-rec__table-expenditure">в зависимости от системы и нормы полива</span>
					<p class="apply-rec__table-culture apply-rec__table-culture--value">
						Овощные культуры - некорневая подкормка растений в период формирования и роста плодов
						<span>1-3 раза с интервалом 10-12 дней</span>
					</p>
				</div>
				<div class="apply-rec__table-row">
					<span class="apply-rec__table-num">4</span>
					<span class="apply-rec__table-dose apply-rec__table-dose--value">0,8-1 л/га</span>
					<span class="apply-rec__table-expenditure">150-250 л/га</span>
					<p class="apply-rec__table-culture apply-rec__table-culture--value">
						Овощные культуры - некорневая подкормка растений в период формирования и роста плодов
						<span>1-3 раза с интервалом 10-12 дней</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>