<section class="center">
	<div class="container center__container">
		<div class="section-head start">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-1 center__title">НАУЧНО-ИССЛЕДОВАТЕЛЬСКИЙ ЦЕНТР</h2>
		</div>
		<div class="swiper center__slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide center__slide">
					<div class="center__img-wrapper">
						<div class="center__img-preview">
							<h5 class="title center__preview-title">достижения</h5>
						</div>
						<img src="img/decor/center.webp" alt="doctor" class="center__slide-img" />
					</div>
					<div class="center__slide-info">
						<h5 class="title center__slide-title">Агрохимические и биологические исследования</h5>
						<ul class="list center__slide-list">
							<li class="center__slide-content center__slide-item">
								выращивание тест-объектов в контролируемых условиях и оперативное изучение
								действия на них разрабатываемых препаратов. Первичные (скрининговые) испытания
								проводятся непосредственно на предприятии в биолаборатории с искусственным
								климатом; 
							</li>
							<li class="center__slide-content center__slide-item">
								проведение анализов методами ПЦР и ИФА.
							</li>
						</ul>
						<p class="center__slide-content">
							С целью проведения всех необходимых исследований по токсикологии и изучению
							биологической активности препаратов предприятие сотрудничает с российскими
							научно-исследовательскими институтами, такими как ВИЗР, ВНИИФ, ФНЦГ им. Эрисмана,
							НИИД, ВНИИСС, РГАУ МСХА им. К. А. Тимирязева и многие другие. <br />
							<br />
							Высокий научный потенциал, мощная производственная и научно-исследовательская базы
							позволяют выводить на рынок пестицидов современные инновационные решения в области
							защиты растений.
						</p>
					</div>
				</div>
				<div class="swiper-slide center__slide">
					<div class="center__img-wrapper">
						<div class="center__img-preview">
							<h5 class="title center__preview-title">достижения</h5>
						</div>
						<img src="img/decor/center.webp" alt="doctor" class="center__slide-img" />
					</div>
					<div class="center__slide-info">
						<h5 class="title center__slide-title">Агрохимические и биологические исследования</h5>
						<ul class="list center__slide-list">
							<li class="center__slide-content center__slide-item">
								выращивание тест-объектов в контролируемых условиях и оперативное изучение
								действия на них разрабатываемых препаратов. Первичные (скрининговые) испытания
								проводятся непосредственно на предприятии в биолаборатории с искусственным
								климатом; 
							</li>
							<li class="center__slide-content center__slide-item">
								проведение анализов методами ПЦР и ИФА.
							</li>
						</ul>
						<p class="center__slide-content">
							С целью проведения всех необходимых исследований по токсикологии и изучению
							биологической активности препаратов предприятие сотрудничает с российскими
							научно-исследовательскими институтами, такими как ВИЗР, ВНИИФ, ФНЦГ им. Эрисмана,
							НИИД, ВНИИСС, РГАУ МСХА им. К. А. Тимирязева и многие другие. <br />
							<br />
							Высокий научный потенциал, мощная производственная и научно-исследовательская базы
							позволяют выводить на рынок пестицидов современные инновационные решения в области
							защиты растений.
						</p>
					</div>
				</div>
				<div class="swiper-slide center__slide">
					<div class="center__img-wrapper">
						<div class="center__img-preview">
							<h5 class="title center__preview-title">достижения</h5>
						</div>
						<img src="img/decor/center.webp" alt="doctor" class="center__slide-img" />
					</div>
					<div class="center__slide-info">
						<h5 class="title center__slide-title">Агрохимические и биологические исследования</h5>
						<ul class="list center__slide-list">
							<li class="center__slide-content center__slide-item">
								выращивание тест-объектов в контролируемых условиях и оперативное изучение
								действия на них разрабатываемых препаратов. Первичные (скрининговые) испытания
								проводятся непосредственно на предприятии в биолаборатории с искусственным
								климатом; 
							</li>
							<li class="center__slide-content center__slide-item">
								проведение анализов методами ПЦР и ИФА.
							</li>
						</ul>
						<p class="center__slide-content">
							С целью проведения всех необходимых исследований по токсикологии и изучению
							биологической активности препаратов предприятие сотрудничает с российскими
							научно-исследовательскими институтами, такими как ВИЗР, ВНИИФ, ФНЦГ им. Эрисмана,
							НИИД, ВНИИСС, РГАУ МСХА им. К. А. Тимирязева и многие другие. <br />
							<br />
							Высокий научный потенциал, мощная производственная и научно-исследовательская базы
							позволяют выводить на рынок пестицидов современные инновационные решения в области
							защиты растений.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-nav">
			<button class="btn slider-btn slider-btn--prev center__btn-slider">
				<svg class="slider-btn__icon">
					<use xlink:href='img/icons/icons.svg#icon-arrow-line'></use>
				</svg>
			</button>
			<div class="slider-nav__pagination center__slider-pagination"></div>
			<button class="btn slider-btn slider-btn--next center__btn-slider">
				<svg class="slider-btn__icon">
					<use xlink:href='img/icons/icons.svg#icon-arrow-line'></use>
				</svg>
			</button>
		</div>
	</div>
</section>