<section class="contacts-main">
	<div class="container contacts-main__container">
		<div class="contacts-main__body">
			<div class="contacts-main__item">
				<h3 class="contacts-main__title">Для покупателей</h3>
				<div class="contacts-main__item-head">
					<div class="contacts-main__item-block">
						<a href="tel:+79859228800" class="contacts-main__item-link">+7 (985) 922-88-00</a>
						<p class="contacts-main__subcontent">Пн-Пт с 8:00 до 17:00</p>
					</div>
					<div class="contacts-main__item-block">
						<a href="mailto:info@oyyo-organic.ru" class="contacts-main__item-link">info@oyyo-organic.ru</a>
						<a href="mailto:info@oyyo-organic.ru" class="contacts-main__item-btn">Написать письмо</a>
					</div>
				</div>
				<p class="contacts-main__item-content">
					г. Москва, ул.Ветошный переулок, 9 ТЦ Никольский пассаж
				</p>
			</div>
			<div class="contacts-main__item">
				<h3 class="contacts-main__title">Для покупателей</h3>
				<div class="contacts-main__item-head">
					<div class="contacts-main__item-block">
						<a href="tel:+79859228800" class="contacts-main__item-link">+7 (985) 922-88-00</a>
						<p class="contacts-main__subcontent">Пн-Пт с 8:00 до 17:00</p>
					</div>
					<div class="contacts-main__item-block">
						<a href="mailto:info@oyyo-organic.ru" class="contacts-main__item-link">info@oyyo-organic.ru</a>
						<a href="mailto:info@oyyo-organic.ru" class="contacts-main__item-btn">Написать письмо</a>
					</div>
				</div>
				<p class="contacts-main__item-content">
					г. Москва, ул.Ветошный переулок, 9 ТЦ Никольский пассаж
				</p>
			</div>
		</div>
		<div id="contacts-map" data-center="[54.640994988119985,39.66810299999998]" data-zoom="15" class="contacts__map"></div>
	</div>
</section>