<div class="contacts">
	<div class="container">
		<div class="section-head">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-1">Контакты</h2>
			<a href="#" target="_blank" class="section-head__btn">Все</a>
		</div>
		<ul class="list contacts__list">
			<li class="contacts__item">
				<h5 class="contacts__item-title">Телефон</h5>
				<span class="contacts__item-line"></span>
				<div class="contacts__item-info">
					<a href="#" class="contacts__item-link">+7 (985) 922-88-00</a>
					<p class="contacts__item-content">Пн-Пт с 8:00 до 17:00</p>
				</div>
			</li>
			<li class="contacts__item">
				<h5 class="contacts__item-title">E-mail</h5>
				<span class="contacts__item-line"></span>
				<div class="contacts__item-info">
					<a href="#" class="contacts__item-link">info@oyyo-organic.ru</a>
					<button class="btn contacts__item-btn">Написать письмо</button>
				</div>
			</li>
			<li class="contacts__item">
				<h5 class="contacts__item-title">Адрес</h5>
				<span class="contacts__item-line"></span>
				<div class="contacts__item-info">
					<p class="contacts__item-content-address">г. Москва, <br> ул.Ветошный переулок, 9 ТЦ Никольский пассаж</p>
				</div>
			</li>
		</ul>
		<div id="contacts-map" data-center="[54.640994988119985,39.66810299999998]" data-zoom="15" class="contacts__map"></div>
	</div>
</div>