<section class="discount">
	<img src="img/decor/mail.svg" alt="mail" class="discount__mail">
	<img src="img/decor/discount-logo.svg" alt="logo" class="discount__logo">
	<div class="container">
		<h2 class="title title-1 discount__title">Скидки Новости Акции</h2>
		<p class="discount__content">
			Всё это и многое другое вы можете получить через рассылку, подпишись чтобы не пропускать
		</p>
		<form action="#" class="discount__form">
			<div class="form__body">
				<div class="form__input-wrapper">
					<input type="email" name="email" placeholder="EMAIL" class="form__input">
				</div>
				<button class="btn btn-custom btn-primary form__btn">Получать рассылку</button>
			</div>
		</form>
	</div>
</section>