<div class="download">
	<img src="img/decor/download.webp" alt="download" class="download__decor">
	<div class="container download__container">
		<h2 class="title download__title">
			Скачать полные характеристики агрохимиката
		</h2>
		<a href="#" download="#" class="btn-download btn-download--white">
			<div class="btn-download__wrapper">
				<svg class="btn-download__file">
					<use xlink:href="img/icons/icons.svg#icon-file"></use>
				</svg>
				<span class="title">Скачать pdf 1.4 mb</span>
			</div>
		</a>
	</div>
</div>