<section class="error">
	<div class="container error__container">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__prev">
				<div class="breadcrumbs__prev-circle">
					<svg class="breadcrumbs__icon">
						<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
					</svg>
				</div>
				<span>Назад</span>
			</a>
			<ul class="list breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#">Главная</a></li>
				<li class="breadcrumbs__item">404</li>
			</ul>
		</div>
		<div class="error__body">
			<span class="error__content">Страница <br />
				не найдена...</span>
			<span class="error__show">Ошибка</span>
			<a href="#" target="_blank" class="btn-custom btn-primary error__btn">Вернуться на главную</a>
		</div>
	</div>
</section>