<section class="feedback">
	<picture class="feedback__decor">
		<source media="(max-width:767px)" srcset="img/decor/people-show.webp">
		<img src="img/decor/people.webp" alt="people">
	</picture>
	<div class="container">
		<h2 class="title title-1 feedback__title">Нужен совет по выбору системы питания?</h2>
		<p class="feedback__content">
			Получите консультацию нашего специалиста! Оставьте заявку, и мы свяжемся с вами!
		</p>
		<form action="#" class="feedback__form form">
			<div class="form__body">
				<div class="form__input-wrapper">
					<input type="text" name="name" id="call-name" placeholder="Имя" class="form__input" />
					<label for="call-name" class="form__label">Введите ваше имя</label>
				</div>
				<div class="form__input-wrapper">
					<input type="tel" name="tel" id="call-tel" placeholder="+7 (___) ___-__-__" class="form__input" />
					<label for="call-tel" class="form__label">Введите ваш телефон</label>
				</div>
				<button class="btn btn-custom btn-primary form__btn">Отправить заявку</button>
				<a href="#" target="_blank" class="btn btn-custom btn-primary form__btn btn-primary--green">Написать в whatsapp</a>
			</div>
			<p target="_blank" class="form__politic">
				Нажимая «Отправить заявку», вы соглашаетесь на обработку персональных данных в
				соответствии с <a href="#" target="_blank"> Политикой конфиденциальности </a>.
			</p>
		</form>
	</div>
</section>