<section class="hero-product">
	<img src="img/decor/sheet.webp" alt="sheet" class="hero-product__sheet hero-product__sheet--left" />
	<img src="img/decor/sheet.webp" alt="sheet" class="hero-product__sheet hero-product__sheet--right" />
	<div class="container hero-product__container">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__prev">
				<div class="breadcrumbs__prev-circle">
					<svg class="breadcrumbs__icon">
						<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
					</svg>
				</div>
				<span>Назад</span>
			</a>
			<ul class="list breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#">Главная</a></li>
				<li class="breadcrumbs__item"><a href="#">Каталог продукции</a></li>
				<li class="breadcrumbs__item"><a href="#">Альфа</a></li>
				<li class="breadcrumbs__item">Финиш</li>
			</ul>
		</div>
		<div class="hero-product__body">
			<div class="hero-product__left">
				<span class="title hero-product__type">Альфа</span>
				<h1 class="title hero-product__title">Аминобиостим</h1>
				<a data-da=".hero-product__container,1439,3" href="#" class="btn btn-custom btn-primary hero-product__btn-order">
					Заказать удобрение
				</a>
			</div>
			<div class="swiper hero-product__slider">
				<button class="btn hero-product__slider-btn hero-product__slider-btn--prev">
					<svg class="hero-product__slider-btn-icon">
						<use xlink:href='img/icons/icons.svg#icon-arrow'></use>
					</svg>
				</button>
				<button class="btn hero-product__slider-btn hero-product__slider-btn--next">
					<svg class="hero-product__slider-btn-icon">
						<use xlink:href='img/icons/icons.svg#icon-arrow'></use>
					</svg>
				</button>
				<div class="hero-product__slider-pagination hero-product__slider-pagination--number"></div>
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="img/products/canister-show.webp" alt="canister" class="hero-product__slider-img" />
					</div>
					<div class="swiper-slide">
						<img src="img/products/canister-show.webp" alt="canister" class="hero-product__slider-img" />
					</div>
					<div class="swiper-slide">
						<img src="img/products/canister-show.webp" alt="canister" class="hero-product__slider-img" />
					</div>
					<div class="swiper-slide">
						<img src="img/products/canister-show.webp" alt="canister" class="hero-product__slider-img" />
					</div>
				</div>
			</div>
			<div class="hero-product__info">
				<p class="hero-product__content">
					Жидкое органоминеральное удобрение с микроэлементами, производимое путем щелочной
					экстракции гуминовых соединений и последующим введением в экстракт готовых форм
					минеральных удобрений и микроэлементов в хелатной форме и в виде неорганических соединений
				</p>
				<div class="hero-product__spec">
					<span class="hero-product__spec-title">Форма выпуска</span>
					<ul class="list hero-product__spec-list">
						<li class="hero-product__spec-item">
							<img src="img/logos/bottle.svg" alt="bottle" class="hero-product__spec-icon" />
							<span>1 л</span>
						</li>
						<li class="hero-product__spec-item">
							<img src="img/logos/canister.svg" alt="canister" class="hero-product__spec-icon" />
							<span>5 л</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hero-product__nav">
			<a href="#" class="hero-product__nav-btn">
				<svg class="hero-product__nav-arrow">
					<use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
				</svg>
				<span>Альфа финиш</span>
			</a>
			<div class="hero-product__slider-pagination hero-product__slider-pagination--images">
				<button class="btn hero-product__pagination-btn">
					<img src="img/products/canister-one.webp" class="hero-product__pagination-img" alt="canister">
				</button>
				<button class="btn hero-product__pagination-btn">
					<img src="img/products/canister-one.webp" class="hero-product__pagination-img" alt="canister">
				</button>
				<button class="btn hero-product__pagination-btn">
					<img src="img/products/canister-one.webp" class="hero-product__pagination-img" alt="canister">
				</button>
				<button class="btn hero-product__pagination-btn">
					<img src="img/products/canister-one.webp" class="hero-product__pagination-img" alt="canister">
				</button>
			</div>
			<a href="#" class="hero-product__nav-btn hero-product__nav-btn--next">
				<span>Альфа старт</span>
				<svg class="hero-product__nav-arrow">
					<use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
				</svg>
			</a>
		</div>
	</div>
	<div class="hero-product__bottom">
		<div class="container hero-product__bottom-container">
			<div class="hero-product__bottom-item">
				<h5 class="title hero-product__bottom-title">Внешний вид</h5>
				<p class="hero-product__bottom-content">
					Жидкость, коричневого или черного цвета, без запаха или имеет слабый аммиачный запах.
				</p>
			</div>
			<div class="hero-product__bottom-item">
				<h5 class="title hero-product__bottom-title">Фитотоксичность</h5>
				<p class="hero-product__bottom-content">
					При использовании агрохимиката в рекомендованных дозах фитотоксичность не установлена.
				</p>
			</div>
		</div>
	</div>
</section>