<section class="hero">
	<div class="hero__circle hero__circle--orange top"></div>
	<div class="hero__circle hero__circle--orange bottom"></div>
	<div class="hero__circle hero__circle--white top"></div>
	<div class="hero__circle hero__circle--white bottom"></div>
	<img src="img/decor/tractor.webp" alt="tractor" class="hero__img">
	<div class="container">
		<span class="hero__number">
			01
		</span>
		<h1 class="title title-1 hero__title">Комплексные системы органических удобрений</h1>
		<p class="hero__content">насыщенные гуминовыми веществами и микроэлементами</p>
		<a href="#" target="_blank" class="btn btn-custom btn-primary hero__btn">
			перейти в каталог
		</a>
	</div>
	<a href="#" class="hero__mouse">
		<svg class="hero__mouse-icon">
			<use xlink:href='img/icons/icons.svg#icon-mouse'></use>
		</svg>
		<span>Листай</span>
	</a>
</section>