<section class="hero-about">
	<img src="img/decor/discount-logo.svg" alt="logo" class="hero-about__decor">
	<div class="container hero-about__container">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__prev">
				<div class="breadcrumbs__prev-circle">
					<svg class="breadcrumbs__icon">
						<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
					</svg>
				</div>
				<span>Назад</span>
			</a>
			<ul class="list breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#">Главная</a></li>
				<li class="breadcrumbs__item">О компании</li>
			</ul>
		</div>
		<h1 class="title hero-about__title">О компании</h1>
		<div class="hero-about__body">
			<p class="about__content">
				Наша компания занимается разработкой и производством инновационного препарата, направленного
				на повышение эффективности сельского хозяйства и обеспечение экологически чистого и
				безопасного роста растений.
			</p>
			<img src="img/decor/entrance.webp" alt="entrance" class="about__img" />
			<div class="about__catalog">
				<div class="about__catalog-wrapper">
					<h3 class="title title-2">Каталог продукции</h3>
					<div class="about__catalog-logo">
						<svg class="about__catalog-icon">
							<use xlink:href="img/icons/icons.svg#icon-logo"></use>
						</svg>
						<span class="title title-2 about__catalog-logo-title">organic energy</span>
					</div>
					<a href="#" class="btn-download about__catalog-btn">
						<div class="btn-download__wrapper">
							<svg class="btn-download__file">
								<use xlink:href="img/icons/icons.svg#icon-play"></use>
							</svg>
							<span class="title">Смотреть</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>