<section class="hero-simple">
	<img src="img/decor/discount-logo.svg" alt="logo" class="hero-simple__decor">
	<div class="container">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__prev">
				<div class="breadcrumbs__prev-circle">
					<svg class="breadcrumbs__icon">
						<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
					</svg>
				</div>
				<span>Назад</span>
			</a>
			<ul class="list breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#">Главная</a></li>
				<li class="breadcrumbs__item">Приемущества продукции</li>
			</ul>
		</div>
		<h1 class="title hero-simple__title">@@title</h1>
	</div>
</section>