<section class="interesting">
	<div class="container interesting__container">
		<div class="interesting__nav">
			<h2 class="title interesting__title">Эти товары могут вас заинтересовать</h2>
			<div class="interesting__nav-buttons">
				<button data-tab="alfa" class="btn btn-tab interesting__nav-btn active">Альфа</button>
				<button data-tab="bio" class="btn btn-tab interesting__nav-btn">Биогель</button>
			</div>
			<a data-da=".interesting__container,1439,3" href="#" target="_blank" class="btn-custom btn-primary btn-primary--black interesting__catalog-btn">Перейти в каталог</a>
		</div>
		<a href="#" target="_blank" class="interesting__card interesting__card--big">
			<div class="interesting__elements">
				<div class="interesting__elements-item">
					<span class="interesting__element-percent">pH,%</span>
					<span class="interesting__element-num">7.4-8.0</span>
				</div>
				<div class="interesting__elements-item">
					<span class="interesting__element-percent">pH,%</span>
					<span class="interesting__element-num">7.4-8.0</span>
				</div>
			</div>
			<img src="img/products/canister-one.webp" alt="canister-one" class="interesting__img" />
			<div class="interesting__card-nav">
				<div class="interesting__card-values">
					<h5 class="interesting__card-title">Аминобиг</h5>
					<span class="interesting__card-type">Альфа</span>
				</div>
				<div class="interesting__card-btn">
					<svg class="interesting__card-arrow">
						<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
					</svg>
				</div>
			</div>
		</a>
		<div class="interesting__catalog">
			<a href="#" target="_blank" class="interesting__card">
				<div class="interesting__elements">
					<div class="interesting__elements-item">
						<span class="interesting__element-percent">pH,%</span>
						<span class="interesting__element-num">7.4-8.0</span>
					</div>
					<div class="interesting__elements-item">
						<span class="interesting__element-percent">pH,%</span>
						<span class="interesting__element-num">7.4-8.0</span>
					</div>
				</div>
				<img src="img/products/canister-one.webp" alt="canister-one" class="interesting__img" />
				<div class="interesting__card-nav">
					<div class="interesting__card-values">
						<h5 class="interesting__card-title">Аминобиг</h5>
						<span class="interesting__card-type">Альфа</span>
					</div>
					<div class="interesting__card-btn">
						<svg class="interesting__card-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
						</svg>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="interesting__card">
				<div class="interesting__elements">
					<div class="interesting__elements-item">
						<span class="interesting__element-percent">pH,%</span>
						<span class="interesting__element-num">7.4-8.0</span>
					</div>
					<div class="interesting__elements-item">
						<span class="interesting__element-percent">pH,%</span>
						<span class="interesting__element-num">7.4-8.0</span>
					</div>
				</div>
				<img src="img/products/canister-one.webp" alt="canister-one" class="interesting__img" />
				<div class="interesting__card-nav">
					<div class="interesting__card-values">
						<h5 class="interesting__card-title">Аминобиг</h5>
						<span class="interesting__card-type">Альфа</span>
					</div>
					<div class="interesting__card-btn">
						<svg class="interesting__card-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
						</svg>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="interesting__card">
				<div class="interesting__elements">
					<div class="interesting__elements-item">
						<span class="interesting__element-percent">pH,%</span>
						<span class="interesting__element-num">7.4-8.0</span>
					</div>
					<div class="interesting__elements-item">
						<span class="interesting__element-percent">pH,%</span>
						<span class="interesting__element-num">7.4-8.0</span>
					</div>
				</div>
				<img src="img/products/canister-one.webp" alt="canister-one" class="interesting__img" />
				<div class="interesting__card-nav">
					<div class="interesting__card-values">
						<h5 class="interesting__card-title">Аминобиг</h5>
						<span class="interesting__card-type">Альфа</span>
					</div>
					<div class="interesting__card-btn">
						<svg class="interesting__card-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
						</svg>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="interesting__card">
				<div class="interesting__elements">
					<div class="interesting__elements-item">
						<span class="interesting__element-percent">pH,%</span>
						<span class="interesting__element-num">7.4-8.0</span>
					</div>
					<div class="interesting__elements-item">
						<span class="interesting__element-percent">pH,%</span>
						<span class="interesting__element-num">7.4-8.0</span>
					</div>
				</div>
				<img src="img/products/canister-one.webp" alt="canister-one" class="interesting__img" />
				<div class="interesting__card-nav">
					<div class="interesting__card-values">
						<h5 class="interesting__card-title">Аминобиг</h5>
						<span class="interesting__card-type">Альфа</span>
					</div>
					<div class="interesting__card-btn">
						<svg class="interesting__card-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
						</svg>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>