<section class="news-article">
	<div class="container">
		<div class="news-article__body">
			<div class="news-article__social">
				<span class="news-article__subcription">Подписаться</span>
				<ul class="list news-article__social-list">
					<li>
						<a href="#" target="_blank" class="news-article__social-item">
							<svg class="news-article__social-icon">
								<use xlink:href="img/icons/icons.svg#icon-paper-clip"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" class="news-article__social-item">
							<svg class="news-article__social-icon">
								<use xlink:href="img/icons/icons.svg#icon-mail"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" class="news-article__social-item">
							<svg class="news-article__social-icon">
								<use xlink:href="img/icons/icons.svg#icon-tg"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" class="news-article__social-item">
							<svg class="news-article__social-icon">
								<use xlink:href="img/icons/icons.svg#icon-wh"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
			<div class="news-article__info">
				<h2 class="news-article__title">
					Первый заместитель генерального директора в рамках деловой программы ПМЭФ-2024  рассказала
					о корпоративной программе подготовки кадров
				</h2>
				<div class="news-article__head">
					<span class="news-article__head-title">Новости</span>
					<div class="news-article__head-line"></div>
					<span class="title news-article__day">10 июня</span>
					<span class="title news-article__year">2024</span>
				</div>
				<p class="news-article__content">
					В рамках деловой программы ПМЭФ-2024 первый заместитель генерального директора OYYO
					organic energy рассказал о корпоративной программе подготовки кадров. Он отметил, что
					программа бесшовного образования, которая длится от школьной скамьи до трудоустройства в
					компании, существует уже 11 лет. За это время на её развитие было направлено 6 миллиардов
					рублей.
				</p>
				<div class="news-article__warn">
					<h5 class="title news-article__warn-title">Важно!</h5>
					<p class="news-article__warn-content">
						Лоиков подчеркнул важность ранней подготовки квалифицированных специалистов. Он также
						поделился опытом проектов компании в сфере образования, включая создание «OYYO organic
						energy
					</p>
				</div>
				<p class="news-article__content">
					Программа включает профориентационную вертикаль, начиная со школ, где дети углублённо
					изучают математику, информатику, физику и химию. Обучение в таких школах позволяет
					выпускникам поступать в ведущие партнёрские университеты и колледжи.
					<br /><br />
					Корпоративная программа подготовки кадров OYYO organic energy вызвала интерес на ПМЭФ. Она
					направлена на обеспечение кадрового суверенитета отечественной экономики и подготовку
					миллиона специалистов рабочих профессий до 2028 года.
				</p>
				<a href="#" class="news-article__prev">
					<svg class="news-article__prev-icon">
						<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
					</svg>
					<span>Вернуться</span>
				</a>
			</div>
		</div>
		<h3 class="title title-1 news-article__rec-title">Читайте также</h3>
		<div class="news-catalog__catalog">
			<a href="#" target="_blank" class="news-catalog__card">
				<svg class="news-catalog__card-decor">
					<use xlink:href="img/icons/icons.svg#icon-logo"></use>
				</svg>
				<div class="news-catalog__card-head">
					<div>
						<span class="title news-catalog__card-day">10 июня</span>
						<span class="title news-catalog__card-year">2024</span>
					</div>
					<span class="title news-catalog__card-head-btn">предыдущая статья</span>
				</div>
				<div class="news-catalog__card-bottom">
					<p class="news-catalog__card-content">
						Первый заместитель генерального директора в рамках деловой программы ПМЭФ-2024 
						рассказала о корпоративной программе подготовки кадров
					</p>
					<div class="news-catalog__card-btn">
						<span>
							<span></span>
						</span>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="news-catalog__card">
				<svg class="news-catalog__card-decor">
					<use xlink:href="img/icons/icons.svg#icon-logo"></use>
				</svg>
				<div class="news-catalog__card-head">
					<div>
						<span class="title news-catalog__card-day">10 июня</span>
						<span class="title news-catalog__card-year">2024</span>
					</div>
					<span class="title news-catalog__card-head-btn">следующая статья</span>
				</div>
				<div class="news-catalog__card-bottom">
					<p class="news-catalog__card-content">
						Первый заместитель генерального директора в рамках деловой программы ПМЭФ-2024 
						рассказала о корпоративной программе подготовки кадров
					</p>
					<div class="news-catalog__card-btn">
						<span>
							<span></span>
						</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>