<section class="news">
	<div class="container">
		<div class="section-head">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-1">Новости</h2>
			<a href="#" target="_blank" class="section-head__btn">Все</a>
		</div>
		<div class="news__body">
			<a href="#" class="news__item">
				<svg class="news__item-decor">
					<use xlink:href='img/icons/icons.svg#icon-logo'></use>
				</svg>
				<span class="news__item-date">10 июня</span>
				<span class="news__item-year">2024</span>
				<p class="news__item-content">
					Первый заместитель генерального директора в рамках деловой программы ПМЭФ-2024  рассказала
					о корпоративной программе подготовки кадров
				</p>
				<div class="news__item-btn">
					<svg class="news__item-plus">
						<use xlink:href='img/icons/icons.svg#icon-plus'></use>
					</svg>
				</div>
			</a>
			<a href="#" class="news__item">
				<svg class="news__item-decor">
					<use xlink:href='img/icons/icons.svg#icon-logo'></use>
				</svg>
				<span class="news__item-date">10 июня</span>
				<span class="news__item-year">2024</span>
				<p class="news__item-content">
					Первый заместитель генерального директора в рамках деловой программы ПМЭФ-2024  рассказала
					о корпоративной программе подготовки кадров
				</p>
				<div class="news__item-btn">
					<svg class="news__item-plus">
						<use xlink:href='img/icons/icons.svg#icon-plus'></use>
					</svg>
				</div>
			</a>
			<a href="#" class="news__item">
				<svg class="news__item-logo">
					<use xlink:href='img/icons/icons.svg#icon-logo'></use>
				</svg>
				<span class="news__item-date">10 июня</span>
				<span class="news__item-year">2024</span>
				<p class="news__item-content">
					Первый заместитель генерального директора в рамках деловой программы ПМЭФ-2024  рассказала
					о корпоративной программе подготовки кадров
				</p>
				<div class="news__item-btn">
					<svg class="news__item-plus">
						<use xlink:href='img/icons/icons.svg#icon-plus'></use>
					</svg>
				</div>
			</a>
			<a href="#" class="news__item">
				<svg class="news__item-logo news__item-logo--min">
					<use xlink:href='img/icons/icons.svg#icon-logo'></use>
				</svg>
				<span class="news__item-date">10 июня</span>
				<span class="news__item-year">2024</span>
				<p class="news__item-content">
					Первый заместитель генерального директора в рамках деловой программы ПМЭФ-2024  рассказала
					о корпоративной программе подготовки кадров
				</p>
				<div class="news__item-btn">
					<svg class="news__item-plus">
						<use xlink:href='img/icons/icons.svg#icon-plus'></use>
					</svg>
				</div>
			</a>
		</div>
	</div>
</section>