<section class="news-catalog">
	<div class="container">
		<div class="news-catalog__nav">
			<ul class="list news-catalog__buttons">
				<li>
					<a href="#" class="news-catalog__btn active"> Все </a>
				</li>
				<li>
					<a href="#" class="news-catalog__btn"> Новинки </a>
				</li>
				<li>
					<a href="#" class="news-catalog__btn"> События </a>
				</li>
				<li>
					<a href="#" class="news-catalog__btn"> Статьи </a>
				</li>
			</ul>
			<div class="dropdown news-catalog__nav-dropdown">
				<button class="btn dropdown__btn">
					<span>По дате публикации</span>
					<svg class="dropdown__arrow">
						<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
					</svg>
				</button>
				<div class="dropdown__item">
					<ul class="list dropdown__sort">
						<li>
							<a href="#" class="dropdown__sort-item">По высшим оценкам</a>
						</li>
						<li>
							<a href="#" class="dropdown__sort-item">По низким оценкам</a>
						</li>
						<li>
							<a href="#" class="dropdown__sort-item">По дате публикации</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="news-catalog__catalog">
			<a href="#" target="_blank" class="news-catalog__card">
				<svg class="news-catalog__card-decor">
					<use xlink:href="img/icons/icons.svg#icon-logo"></use>
				</svg>
				<div class="news-catalog__card-head">
					<div>
						<span class="title news-catalog__card-day">10 июня</span>
						<span class="title news-catalog__card-year">2024</span>
					</div>
				</div>
				<div class="news-catalog__card-bottom">
					<p class="news-catalog__card-content">
						Первый заместитель генерального директора в рамках деловой программы ПМЭФ-2024 
						рассказала о корпоративной программе подготовки кадров
					</p>
					<div class="news-catalog__card-btn">
						<span>
							<span></span>
						</span>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="news-catalog__card">
				<svg class="news-catalog__card-decor">
					<use xlink:href="img/icons/icons.svg#icon-logo"></use>
				</svg>
				<span class="title news-catalog__card-day">10 июня</span>
				<span class="title news-catalog__card-year">2024</span>
				<div class="news-catalog__card-bottom">
					<p class="news-catalog__card-content">
						Первый заместитель генерального директора в рамках деловой программы ПМЭФ-2024 
						рассказала о корпоративной программе подготовки кадров
					</p>
					<div class="news-catalog__card-btn">
						<span>
							<span></span>
						</span>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="news-catalog__card">
				<svg class="news-catalog__card-decor">
					<use xlink:href="img/icons/icons.svg#icon-logo"></use>
				</svg>
				<span class="title news-catalog__card-day">10 июня</span>
				<span class="title news-catalog__card-year">2024</span>
				<div class="news-catalog__card-bottom">
					<p class="news-catalog__card-content">
						Первый заместитель генерального директора в рамках деловой программы ПМЭФ-2024 
						рассказала о корпоративной программе подготовки кадров
					</p>
					<div class="news-catalog__card-btn">
						<span>
							<span></span>
						</span>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="news-catalog__card">
				<svg class="news-catalog__card-decor">
					<use xlink:href="img/icons/icons.svg#icon-logo"></use>
				</svg>
				<span class="title news-catalog__card-day">10 июня</span>
				<span class="title news-catalog__card-year">2024</span>
				<div class="news-catalog__card-bottom">
					<p class="news-catalog__card-content">
						Первый заместитель генерального директора в рамках деловой программы ПМЭФ-2024 
						рассказала о корпоративной программе подготовки кадров
					</p>
					<div class="news-catalog__card-btn">
						<span>
							<span></span>
						</span>
					</div>
				</div>
			</a>
		</div>
		<div class="news-catalog__nav-bottom">
			<a href="#" class="news-catalog__btn-arrow news-catalog__btn-arrow--prev">
				<svg class="news-catalog__nav-icon">
					<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
				</svg>
			</a>
			<div class="news-catalog__nav-pages">
				<a href="#" class="news-catalog__nav-btn active">1</a>
				<a href="#" class="news-catalog__nav-btn">2</a>
				<a href="#" class="news-catalog__nav-btn">3</a>
			</div>
			<a href="#" class="news-catalog__btn-arrow">
				<svg class="news-catalog__nav-icon">
					<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
				</svg>
			</a>
		</div>
	</div>
</section>