<section class="our-products">
	<div class="container">
		<div class="our-products__nav">
			<a href="#" class="our-products__nav-btn our-products__nav-btn--red">
				<svg class="our-products__nav-decor">
					<use xlink:href="img/icons/icons.svg#icon-logo"></use>
				</svg>
				<span class="our-products__nav-btn-title"> Весь каталог </span>
				<p class="our-products__nav-content">более 20 готовых форм минеральных удобрений</p>
			</a>
			<a href="#" class="our-products__nav-btn">
				<span class="our-products__nav-btn-title"> Альфа </span>
				<p class="our-products__nav-content">Жидкое органоминеральное удобрение</p>
				<img src="img/products/canister.webp" alt="canister" class="our-products__nav-img" />
			</a>
			<a href="#" class="our-products__nav-btn">
				<span class="our-products__nav-btn-title"> Альфа </span>
				<p class="our-products__nav-content">Жидкое органоминеральное удобрение</p>
				<img src="img/products/canister.webp" alt="canister" class="our-products__nav-img" />
			</a>
		</div>
		<div class="our-products__catalog row">
			<a href="#" target="_blank" class="our-products__card">
				<img src="img/products/canister.webp" alt="canister" class="our-products__img" />
				<div>
					<h5 class="our-products__card-title">Альфа финиш</h5>
					<p class="our-products__card-content">Жидкое органоминеральное удобрение</p>
					<div class="our-products__card-bottom">
						<div class="our-products__card-bottom-left">
							<img src="img/logos/hfa-red.svg" alt="hfa" class="our-products__card-logo" />
							<span class="our-products__card-discount">10%</span>
						</div>
						<div class="our-products__card-btn">
							<svg class="our-products__card-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
							</svg>
						</div>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="our-products__card">
				<img src="img/products/canister.webp" alt="canister" class="our-products__img" />
				<div>
					<h5 class="our-products__card-title">Альфа финиш</h5>
					<p class="our-products__card-content">Жидкое органоминеральное удобрение</p>
					<div class="our-products__card-bottom">
						<div class="our-products__card-bottom-left">
							<img src="img/logos/hfa-red.svg" alt="hfa" class="our-products__card-logo" />
							<span class="our-products__card-discount">10%</span>
						</div>
						<div class="our-products__card-btn">
							<svg class="our-products__card-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
							</svg>
						</div>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="our-products__card">
				<img src="img/products/canister.webp" alt="canister" class="our-products__img" />
				<div>
					<h5 class="our-products__card-title">Альфа финиш</h5>
					<p class="our-products__card-content">Жидкое органоминеральное удобрение</p>
					<div class="our-products__card-bottom">
						<div class="our-products__card-bottom-left">
							<img src="img/logos/hfa-red.svg" alt="hfa" class="our-products__card-logo" />
							<span class="our-products__card-discount">10%</span>
						</div>
						<div class="our-products__card-btn">
							<svg class="our-products__card-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
							</svg>
						</div>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="our-products__card">
				<img src="img/products/canister.webp" alt="canister" class="our-products__img" />
				<div>
					<h5 class="our-products__card-title">Альфа финиш</h5>
					<p class="our-products__card-content">Жидкое органоминеральное удобрение</p>
					<div class="our-products__card-bottom">
						<div class="our-products__card-bottom-left">
							<img src="img/logos/hfa-red.svg" alt="hfa" class="our-products__card-logo" />
							<span class="our-products__card-discount">10%</span>
						</div>
						<div class="our-products__card-btn">
							<svg class="our-products__card-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
							</svg>
						</div>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="our-products__card">
				<img src="img/products/canister.webp" alt="canister" class="our-products__img" />
				<div>
					<h5 class="our-products__card-title">Альфа финиш</h5>
					<p class="our-products__card-content">Жидкое органоминеральное удобрение</p>
					<div class="our-products__card-bottom">
						<div class="our-products__card-bottom-left">
							<img src="img/logos/hfa-red.svg" alt="hfa" class="our-products__card-logo" />
							<span class="our-products__card-discount">10%</span>
						</div>
						<div class="our-products__card-btn">
							<svg class="our-products__card-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
							</svg>
						</div>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="our-products__card">
				<img src="img/products/canister.webp" alt="canister" class="our-products__img" />
				<div>
					<h5 class="our-products__card-title">Альфа финиш</h5>
					<p class="our-products__card-content">Жидкое органоминеральное удобрение</p>
					<div class="our-products__card-bottom">
						<div class="our-products__card-bottom-left">
							<img src="img/logos/hfa-red.svg" alt="hfa" class="our-products__card-logo" />
							<span class="our-products__card-discount">10%</span>
						</div>
						<div class="our-products__card-btn">
							<svg class="our-products__card-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
							</svg>
						</div>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="our-products__card">
				<img src="img/products/canister.webp" alt="canister" class="our-products__img" />
				<div>
					<h5 class="our-products__card-title">Альфа финиш</h5>
					<p class="our-products__card-content">Жидкое органоминеральное удобрение</p>
					<div class="our-products__card-bottom">
						<div class="our-products__card-bottom-left">
							<img src="img/logos/hfa-red.svg" alt="hfa" class="our-products__card-logo" />
							<span class="our-products__card-discount">10%</span>
						</div>
						<div class="our-products__card-btn">
							<svg class="our-products__card-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
							</svg>
						</div>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="our-products__card">
				<img src="img/products/canister.webp" alt="canister" class="our-products__img" />
				<div>
					<h5 class="our-products__card-title">Альфа финиш</h5>
					<p class="our-products__card-content">Жидкое органоминеральное удобрение</p>
					<div class="our-products__card-bottom">
						<div class="our-products__card-bottom-left">
							<img src="img/logos/hfa-red.svg" alt="hfa" class="our-products__card-logo" />
							<span class="our-products__card-discount">10%</span>
						</div>
						<div class="our-products__card-btn">
							<svg class="our-products__card-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
							</svg>
						</div>
					</div>
				</div>
			</a>
		</div>
		<a href="#" class="our-products__catalog-btn">Показать ещё</a>
	</div>
</section>