<section class="plant">
	<div class="container plant__container">
		<div class="plant__row">
			<div class="plant__item">
				<img src="img/logos/plant-1.svg" alt="plant" class="plant__icon" />
				<span class="title plant__content">Увеличение урожайности до 65%</span>
				<div class="plant__line plant__line--one"></div>
			</div>
			<div class="plant__item">
				<img src="img/logos/plant-2.svg" alt="plant" class="plant__icon plant__icon--decor" />
				<span class="title plant__content">Улучшение сохранности урожая</span>
				<div class="plant__line plant__line--two"></div>
			</div>
		</div>
		<img src="img/decor/plant.webp" alt="plant" class="plant__img" />
		<div class="plant__row">
			<div class="plant__item">
				<img src="img/logos/plant-3.svg" alt="plant" class="plant__icon plant__icon--down" />
				<span class="title plant__content">Снижение расхода удобрений</span>
				<div class="plant__line plant__line--three"></div>
			</div>
			<div class="plant__item">
				<img src="img/logos/plant-4.svg" alt="plant" class="plant__icon plant__icon--up" />
				<span class="title plant__content">Повышение приживаемости</span>
				<div class="plant__line plant__line--four"></div>
			</div>
		</div>
	</div>
</section>