<section class="politic">
	<div class="container">
		<h2 class="title politic__title">Положение о политике обработки персональных данных</h2>
		<p class="politic__content">
			Настоящее Положение о политике обработки персональных данных действует в отношении всех
			информационных данных, которые сайт ООО «OYYO Organic Enegry, расположенный на доменном имени
			https://oyyoorganicenergy.ru может получить о Пользователе во время использования им сайта.
		</p>
		<div class="politic__body">
			<div class="politic__item">
				<h3 class="title politic__item-title">1. Общие положения политики обработки персональных данных</h3>
				<div class="politic__item-content">
					1.1. Использование сайта “OYYO Organic Energy” Пользователем означает согласие с настоящим Положением о политике обработки персональных данных (далее — Положение). <br> <br>
					1.2. В случае несогласия с условиями Положения Пользователю необходимо прекратить использование данного сайта. <br> <br>
					1.3. Положение применяется исключительно к сайту “OYYO Organic Energy”. Администрация не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам на сайте.
				</div>
			</div>
			<div class="politic__item">
				<h3 class="title politic__item-title">2. Персональные данные, предоставляемые пользователем</h3>
				<div class="politic__item-content">
					Персональные данные Пользователя — личная информация: фамилия, имя, отчество, дата рождения, адрес, семейное положение, образование и другие данные. При онлайн записи на прием или отправлении заявки на обратный звонок на сайте “OYYO Organic Energy” Пользователь оставляет минимальную необходимую информацию: ФИО, номер телефона и адрес электронной почты. Предоставляя свои персональные данные на сайте, Пользователь дает согласие на их обработку “OYYO Organic Energy” в течение неограниченного срока. Обработка подразумевает использование данных в целях исполнения клиникой своих обязательств перед Пользователем, указанных в п.3 настоящего Положения.
				</div>
			</div>
			<div class="politic__item">
				<h3 class="title politic__item-title">3. Цели обработки персональных данных</h3>
				<div class="politic__item-content">
					“OYYO Organic Energy” использует персональные данные, предоставленные Пользователем, строго в ряде целей: <br> <br>
					3.1. Установление обратной связи с Пользователем и обработка его заявок и запросов. <br> <br>
					3.2. Уведомление Пользователя о статусе обработки заявок и запросов. <br> <br>
					3.3. Предоставление Пользователю персональной технической поддержки в случае возникновения вопросов, связанных с использованием сайта. <br> <br>
					3.4. Информирование Пользователя о специальных предложениях, акциях, скидках и новостях компании “OYYO Organic Energy”
				</div>
			</div>
		</div>
	</div>
</section>