<div class="rec-products">
	<div class="container">
		<div class="section-head">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-1">Рекомендуем</h2>
			<a href="#" target="_blank" class="section-head__btn">Все</a>
		</div>
		<div class="rec-products__body">
			<a href="#" target="_blank" class="rec-products__product">
				<span class="rec-products__product-status">Альфа</span>
				<div class="rec-products__product-images">
					<img src="img/products/canister-one.webp" alt="canister" class="rec-products__product-img rec-products__product-img--view" />
					<img src="img/products/canister-one-bg.webp" alt="canister" class="rec-products__product-img rec-products__product-img--bg" />
				</div>
				<div class="rec-products__product-bottom">
					<h5 class="rec-products__product-title">Биостим</h5>
					<span class="rec-products__product-btn">Подробнее</span>
				</div>
			</a>
			<a href="#" target="_blank" class="rec-products__product">
				<span class="rec-products__product-status">Альфа</span>
				<div class="rec-products__product-images">
					<img src="img/products/canister-one.webp" alt="canister" class="rec-products__product-img rec-products__product-img--view" />
					<img src="img/products/canister-one-bg.webp" alt="canister" class="rec-products__product-img rec-products__product-img--bg" />
				</div>
				<div class="rec-products__product-bottom">
					<h5 class="rec-products__product-title">Биостим</h5>
					<span class="rec-products__product-btn">Подробнее</span>
				</div>
			</a>
			<a href="#" target="_blank" class="rec-products__product">
				<span class="rec-products__product-status">Альфа</span>
				<div class="rec-products__product-images">
					<img src="img/products/canister-one.webp" alt="canister" class="rec-products__product-img rec-products__product-img--view" />
					<img src="img/products/canister-one-bg.webp" alt="canister" class="rec-products__product-img rec-products__product-img--bg" />
				</div>
				<div class="rec-products__product-bottom">
					<h5 class="rec-products__product-title">Биостим</h5>
					<span class="rec-products__product-btn">Подробнее</span>
				</div>
			</a>
			<a href="#" target="_blank" class="rec-products__product">
				<span class="rec-products__product-status">Альфа</span>
				<div class="rec-products__product-images">
					<img src="img/products/canister-one.webp" alt="canister" class="rec-products__product-img rec-products__product-img--view" />
					<img src="img/products/canister-one-bg.webp" alt="canister" class="rec-products__product-img rec-products__product-img--bg" />
				</div>
				<div class="rec-products__product-bottom">
					<h5 class="rec-products__product-title">Биостим</h5>
					<span class="rec-products__product-btn">Подробнее</span>
				</div>
			</a>
			<a href="#" target="_blank" class="rec-products__product">
				<span class="rec-products__product-status">Альфа</span>
				<div class="rec-products__product-images">
					<img src="img/products/canister-one.webp" alt="canister" class="rec-products__product-img rec-products__product-img--view" />
					<img src="img/products/canister-one-bg.webp" alt="canister" class="rec-products__product-img rec-products__product-img--bg" />
				</div>
				<div class="rec-products__product-bottom">
					<h5 class="rec-products__product-title">Биостим</h5>
					<span class="rec-products__product-btn">Подробнее</span>
				</div>
			</a>
			<a href="#" target="_blank" class="rec-products__product">
				<span class="rec-products__product-status">Альфа</span>
				<div class="rec-products__product-images">
					<img src="img/products/canister-one.webp" alt="canister" class="rec-products__product-img rec-products__product-img--view" />
					<img src="img/products/canister-one-bg.webp" alt="canister" class="rec-products__product-img rec-products__product-img--bg" />
				</div>
				<div class="rec-products__product-bottom">
					<h5 class="rec-products__product-title">Биостим</h5>
					<span class="rec-products__product-btn">Подробнее</span>
				</div>
			</a>
		</div>
	</div>
</div>