<section class="rec-catalog" id="rec-catalog">
	<div class="container rec-catalog__container">
		<a href="#" target="_blank" class="rec-catalog__item rec-catalog__item--red">
			<img src="img/decor/rec-decor.svg" alt="decor" class="rec-catalog__item-decor">
			<h5 class="rec-catalog__title">Высокий и качественный урожай</h5>
			<span class="rec-catalog__proposal">Посмотреть весь каталог</span>
		</a>
		<a href="#" target="_blank" class="rec-catalog__item">
			<div class="rec-catalog__item-head">
				<h5 class="rec-catalog__title">Альфа</h5>
				<p class="rec-catalog__content">Жидкое органоминеральное удобрение</p>
				<span class="rec-catalog__wrapper-arrow">
					<svg class="rec-catalog__arrow">
						<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
					</svg>
				</span>
			</div>
			<img src="img/products/canister.webp" alt="canister" class="rec-catalog__img" />
		</a>
		<a href="#" target="_blank" class="rec-catalog__item">
			<div class="rec-catalog__item-head">
				<h5 class="rec-catalog__title">Биогель</h5>
				<p class="rec-catalog__content">Жидкое органоминеральное удобрение</p>
				<span class="rec-catalog__wrapper-arrow">
					<svg class="rec-catalog__arrow">
						<use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
					</svg>
				</span>
			</div>
			<img src="img/products/canister.webp" alt="canister" class="rec-catalog__img" />
		</a>
	</div>
</section>