<section class="requisites">
	<div class="container">
		<div class="section-head start">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-1 center__title">Реквизиты</h2>
		</div>
		<div class="requisites__body">
			<ul class="list requisites__list">
				<li class="requisites__item">
					Наименование: <span>АКЦИОНЕРНОЕ ОБЩЕСТВО "ВИКТАН"</span>
				</li>
				<li class="requisites__item">
					Адрес: <span>109012, г. Москва, ул. Ветошный переулок, <br> 9 ТЦ Никольский пассаж</span>
				</li>
				<li class="requisites__item">
					ИНН: <span>15031016874</span>
				</li>
				<li class="requisites__item">
					КПП: <span>503101001</span>
				</li>
				<li class="requisites__item">
					ОГРН: <span>1035006104693</span>
				</li>
				<li class="requisites__item">
					Расчетный счет: <span>1222300017257</span>
				</li>
			</ul>
			<ul class="list requisites__list">
				<li class="requisites__item">
					Корреспондентский счет: <span>30101810145250000411</span>
				</li>
				<li class="requisites__item">
					Банк: <span>Межрайонная инспекция Федеральной налоговой службы №6 по Московской области</span>
				</li>
				<li class="requisites__item">
					ОКВЭД: <span>Торговля оптовая удобрениями и агрохимическими продуктами</span>
				</li>
				<li class="requisites__item">
					Директор: <span> Харченко Илья Владимирович</span>
				</li>
				<li class="requisites__item">
					E-Mail: <a href="mailto:info@oyyo-organic.ru">info@oyyo-organic.ru</a>
				</li>
				<li class="requisites__item">
					Телефон: <a href="tel:+7985228800">+7 985 922-88-00</a>
				</li>
			</ul>
		</div>
	</div>
</section>