<section class="technology">
	<div class="container tab-parent">
		<div class="section-head start">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-1">Технология применения</h2>
		</div>
		<p class="technology__content">
			Технология применения агрохимиката Альфа марки: Старт, Биостим, Биг, Финиш, Аминостарт,
			Аминобиостим, Аминобиг, Аминофиниш разработана и предполагает использование типовых и
			специальных технических средств, предназначенных для выполнения агрохимических работ, а также
			устанавливает меры безопасности (в т.ч. применение средств индивидуальной защиты).
		</p>
		<div class="tab-nav">
			<button data-tab="root" class="btn btn-tab title tab-nav__btn active">
				Прикоревная подкормка
			</button>
			<button data-tab="no-root" class="btn btn-tab title tab-nav__btn">
				Некоревная подкормка
			</button>
			<div class="tab-nav__btn-type">
				<span>Выберите тип подкормки</span>
				<svg class="tab-nav__type-icon">
					<use xlink:href="img/icons/icons.svg#icon-click"></use>
				</svg>
			</div>
		</div>
		<div data-tab="root" class="tab active">
			<div class="technology__tab-top">
				<p class="technology__tab-content">
					В сельскохозяйственном производстве для проведения некорневой подкормки рекомендовано
					использовать любые серийно выпускаемые опрыскиватели типа ОПМ-2001, ОПШ — 2000,
					ОПУ 1/18–200, ОМП-601, ОП-2,0/18, ОПГ-2500–18–05Ф, ОПГ-2500–24–05Ф, SLV–2000 R, ОПВ-1200,
					ОП-2000, ОВХ-28, ОЗГ-400, ОП Заря, СЗМ «Туман-2», ОПМ-2001, ОПШ-2000, ОПУ 1/18–200,
					ОПГ-2500–18–05Ф, John Deere 4630, John Deere 4730, John Deere 4830, John Deere 4940,
					RoGator1936, HardiAlpha4100 Twin Force, DT2000 H Plus Highlander, US 1205, UR 3000,
					Demarol — 400, Demarol — 600, OSP1500/SAD TAJFUN, OSP 2000/SAD TAJFUN, UNIA SLEZA 1000,
					Tecnoma Vectis, RALL–2000C, Lusna, AGP 500 EN Agromehanika и др., а также малообъемные,
					ранцевые опрыскиватели. <br />
					<br />
					Не рекомендуется проводить некорневые подкормки в жаркую солнечную погоду и в период
					цветения растений.
				</p>
				<div class="technology__img-wrapper">
					<img src="img/decor/dirt.webp" alt="dirt" class="technology__top-img" />
					<div class="technology__img-preview">
						<h3 class="title technology__img-title">Прикорневая подкормка</h3>
					</div>
				</div>
			</div>
			<div class="technology__tab-bottom">
				<img src="img/decor/smart-agriculture.webp" alt="smart" class="technology__bottom-img" />
				<div class="technology__attenction">
					<div class="technology__attenction-wrapper">
						<p class="technology__attenction-content">
							При работе с агрохимикатом использовать спецодежду (х/б халат или комбинезон), сапоги,
							резиновые перчатки, средства защиты органов дыхания, глаз. Соблюдать правила личной
							гигиены. После работы следует вымыть руки и лицо с мылом.
						</p>
						<img src="img/decor/attention.svg" alt="attention" class="technology__attenction-icon" />
					</div>
				</div>
				<p data-more="3" class="more-detail technology__tab-content technology__tab-content--bottom">
					<span>Агрохимикат возможно применять</span> как самостоятельно, так и в баковых смесях
					с пестицидами, а также с однокомпонентными и комплексными минеральными макро —
					и микроудобрениями, предварительно проверив компоненты баковой смеси на совместимость.
					<br />
					<br />
					<span>Наиболее эффективнымявляется сочетание</span> опрыскивания и поливов, особенно
					в ранние фазы развития растений.Для предотвращения промывания агрохимиката в нижние
					горизонты почвы, корневую подкормку растений проводят после основного полива. <br />
					<br />
					<span>В личных подсобных хозяйствах подкормку растений</span> рекомендовано проводить
					путём опрыскивания или полива с использованием всех видов и систем опрыскивания и полива —
					системы капельного полива, лейки, опрыскиватели,пульверизаторы и др. ручной инвентарь.
					<br />
					<br />
					<span>Для приготовления рабочего раствора агрохимиката в лейку</span> (бачок
					опрыскивателя и т.п.) наливают воду примерно на 2/3 объёма, добавляют необходимое
					количество удобрения, предварительно разведённого в воде, доливают воду до расчётного
					объёма, раствор перемешивают и проводят подкормки.
				</p>
				<button data-more="3" class="btn more-detail-btn technology__more-btn">Подробнее</button>
			</div>
		</div>
		<div data-tab="no-root" class="tab">
			<div class="technology__tab-top">
				<p class="technology__tab-content">
					В сельскохозяйственном производстве для проведения некорневой подкормки рекомендовано
					использовать любые серийно выпускаемые опрыскиватели типа ОПМ-2001, ОПШ — 2000,
					ОПУ 1/18–200, ОМП-601, ОП-2,0/18, ОПГ-2500–18–05Ф, ОПГ-2500–24–05Ф, SLV–2000 R, ОПВ-1200,
					ОП-2000, ОВХ-28, ОЗГ-400, ОП Заря, СЗМ «Туман-2», ОПМ-2001, ОПШ-2000, ОПУ 1/18–200,
					ОПГ-2500–18–05Ф, John Deere 4630, John Deere 4730, John Deere 4830, John Deere 4940,
					RoGator1936, HardiAlpha4100 Twin Force, DT2000 H Plus Highlander, US 1205, UR 3000,
					Demarol — 400, Demarol — 600, OSP1500/SAD TAJFUN, OSP 2000/SAD TAJFUN, UNIA SLEZA 1000,
					Tecnoma Vectis, RALL–2000C, Lusna, AGP 500 EN Agromehanika и др., а также малообъемные,
					ранцевые опрыскиватели. <br />
					<br />
					Не рекомендуется проводить некорневые подкормки в жаркую солнечную погоду и в период
					цветения растений.
				</p>
				<div class="technology__img-wrapper">
					<img src="img/decor/dirt.webp" alt="dirt" class="technology__top-img" />
					<div class="technology__img-preview">
						<h3 class="title technology__img-title">Прикорневая подкормка</h3>
					</div>
				</div>
			</div>
			<div class="technology__tab-bottom">
				<img src="img/decor/smart-agriculture.webp" alt="smart" class="technology__bottom-img" />
				<div class="technology__attenction">
					<div class="technology__attenction-wrapper">
						<p class="technology__attenction-content">
							При работе с агрохимикатом использовать спецодежду (х/б халат или комбинезон), сапоги,
							резиновые перчатки, средства защиты органов дыхания, глаз. Соблюдать правила личной
							гигиены. После работы следует вымыть руки и лицо с мылом.
						</p>
						<img src="img/decor/attention.svg" alt="attention" class="technology__attenction-icon" />
					</div>
				</div>
				<p data-more="4" class="more-detail technology__tab-content technology__tab-content--bottom">
					<span>Агрохимикат возможно применять</span> как самостоятельно, так и в баковых смесях
					с пестицидами, а также с однокомпонентными и комплексными минеральными макро —
					и микроудобрениями, предварительно проверив компоненты баковой смеси на совместимость.
					<br />
					<br />
					<span>Наиболее эффективнымявляется сочетание</span> опрыскивания и поливов, особенно
					в ранние фазы развития растений.Для предотвращения промывания агрохимиката в нижние
					горизонты почвы, корневую подкормку растений проводят после основного полива. <br />
					<br />
					<span>В личных подсобных хозяйствах подкормку растений</span> рекомендовано проводить
					путём опрыскивания или полива с использованием всех видов и систем опрыскивания и полива —
					системы капельного полива, лейки, опрыскиватели,пульверизаторы и др. ручной инвентарь.
					<br />
					<br />
					<span>Для приготовления рабочего раствора агрохимиката в лейку</span> (бачок
					опрыскивателя и т.п.) наливают воду примерно на 2/3 объёма, добавляют необходимое
					количество удобрения, предварительно разведённого в воде, доливают воду до расчётного
					объёма, раствор перемешивают и проводят подкормки.
				</p>
				<button data-more="4" class="btn more-detail-btn technology__more-btn">Подробнее</button>
			</div>
		</div>
	</div>
</section>