<section class="trend">
	<div class="container">
		<div class="section-head start">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-2">
				Одной из значимых тенденций в мире агрохимии является
				<span>разработка инновационных средств для ускорения развития выращиваемых культур, которые не
					будут негативно сказываться на качестве урожая.</span>
			</h2>
		</div>
		<div class="trend__humic">
			<div class="trend__humic-body">
				<img data-da=".trend__humic-info, 993, 3" src="img/decor/humic.webp" alt="doctor" class="trend__humic-img" />
				<div class="trend__humic-info">
					<div class="trend__header-title">
						<h3 class="trend__title title title-2">Гуминовые кислоты</h3>
						<span class="subtitle trend__subtitle"> Humic Acid </span>
					</div>
					<span class="title trend__the">-это...</span>
					<p class="trend__content trend__content--humic">
						результат постепенного распада органики, который мы называем разложением. Всё то, что
						осталось после существования представителей растительного и животного мира, со временем
						превращается органическую составляющую почвенного грунта. Как правило насыщенный темный
						цвет почвы связывают с содержанием в нем гуминовых кислот.
					</p>
					<div class="trend__humic-bottom">
						<img src="img/decor/element.webp" alt="element" class="trend__humic-decor">
						<div class="trend__humic-elements">C9H8K2O4</div>
						<p class="trend__humic-bottom-content">
							Гуминовые вещества стимулируют рост и развитие растений. Расширяют системы циркуляции
							растений и обеспечивают оптимальные системы транспортировки и дыхания растений.
							Снижают стресс и преждевременный износ растений. Они значительно ускоряют время
							прорастания семян и укрепляют корневую систему, повышают резистентность к засухе
							и заражению паразитами.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="trend__fulvic">
			<div class="trend__fulvic-body">
				<div class="trend__fulvic-info">
					<div class="trend__header-title">
						<h3 class="trend__title title title-2">Фульвовые кислоты</h3>
						<span class="subtitle trend__subtitle">Fulvic Acid </span>
					</div>
					<span class="title trend__the">-это...</span>
					<p class="trend__content-fulvic">
						биоактивные низкомолекулярные вещества, являющиеся конечным продуктом распада какой‑либо живой материи на планете. Молекулы этих кислот меньше размером и лучше растворяются. Эти и другие свойства стимулируют активное поглощение корнями питательных веществ из субстрата. Под действием данных кислот, полезные макро и микроэлементы связываются друг с другом и становятся более легкодоступными.
					</p>
					<div class="trend__fulvic-bottom">
						<img src="img/decor/plants.webp" alt="plants" class="trend__fulvic-decor">
						<p class="trend__fulvic-bottom-content">
							Фульвокислоты хорошо работают при использовании гидропонных систем, им для раскрытия своего полезного действия не требуется почва, в отличие от гуминовых кислот.
						</p>
					</div>
				</div>
				<div class="trend__fulvic-container-img">
					<div class="trend__fulvic-elements">
						<span class="title trend__fulvic-elements-content">C14H12O8</span>
					</div>
					<img src="img/decor/atom.webp" alt="atom" class="trend__fulvic-atom">
					<img src="img/decor/fulvic.webp" alt="fulvic" class="trend__fulvic-img" />
				</div>
			</div>
		</div>
	</div>
</section>