<section class="useful">
	<img src="img/decor/arm-plant.webp" alt="arm-plant" class="useful__decor">
	<div class="container">
		<div class="section-head max-start">
			<img src="img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
			<h2 class="title title-2">
				Наши продукты препятствуют разрушению микробного состава в почве,
				<span>насыщая ее полезными микроэлементами и кислотами для повышения роста и качества
					растения.</span>
			</h2>
		</div>
		<img src="img/decor/canisters-all.webp" alt="canisters" class="useful__img">
	</div>
</section>